@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 class="display-4"> Welcome To WebDoodle! </h1>
    <h3 class="display-6"> The Number 1 Website For All Your Doodling Needs </h3>
</div>
