
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-block text-center flex-column w-100">
    <h1 class="text-center d-block">@ViewData["Title"]</h1>
    
    <p class="text-center d-block"> Stored user data: </p>
    <ul class="d-inline-block text-start">
        <li> Username </li>
        <li> Password hash </li>
        <li> Drawings </li>
    </ul>
    <p class="text-center d-block"> No user data is available to other users </p>
</div>
